body {
    border: 2px red solid;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: rgb(122, 122, 122);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    min-height: 500px;
    box-shadow: 10px 30px 20px rgb(190, 190, 190);
    gap: 20px;
    font-weight: bold;
}

#screen {
    color: white;
    background-color: rgb(48, 48, 48);
    padding: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

#input {
    max-width: 100%;
    min-height: 40px;
    font-size: 40px;
    align-self: flex-start;
    word-wrap: break-word;
}

#result {
    min-height: 60px;
    max-width: 100%;
    font-size: 60px;
    align-self: flex-end;
    word-wrap: break-word;
}

#buttons {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex: 1 1 auto;
    height: 400px;
    width: 400px;
    gap: 10px;
}

.btn {
    border-radius: 50%;
    background-color: rgb(235, 177, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 100ms;
    box-shadow: 5px 5px 10px rgb(138, 138, 138); 
    font-size: 35px;
    color: white;
}

.btn:hover {
    color: wheat;
    background-color: rgb(255, 153, 0);
    transform: translateY(-5px);
    box-shadow: 0px 0px 0px rgb(138, 138, 138); 
}